
.container {
    position: relative;
    margin-top: 9%;
    margin-bottom: 9%;
    width: 40%;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    margin-top: -50px;
    top: 40%;
    padding: 16px;
    width: auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    color: #a0ff2a;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    position: absolute;
    top: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #f2f2f2;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    margin-top: 2%;
    float: left;
    text-align: center;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.column img {
    height: 130px;
    width: auto;
}

@media only screen and (max-width: 1000px) {

    .container {
        width: 100%;
    }

    .mySlides img{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: auto;
    }

    .column img {
        height: 130px;
    }
}